@import '../../styles/variables';
.overview_layout {
  display: grid;
  grid-template-areas: 'nav main main';
  color: $base-color;
  gap: 20px;
}
.overview_nav {
  grid-area: 'nav';
}
.overview_main {
  grid-area: 'main';
}
.home {
  padding: 20px;
  background-color: #e5eaf5;
}
